---
layout: layouts/base
title: Hello world
permalink: "/"
---

<h1>{{ title }}</h1>
<div class="inline-block">edg</div>    
<div class="btn">bouton test</div>

  <div class="fixed inset-0 flex justify-center items-center">
    <div>
      <span class="text-change">Good design</span><br/>
      <span class="change">is<br/>as little design<br/>as possible</span>
    </div>
  </div>